<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Lazernet Worldwide</title>
  </head>
  <body>
    <h1>Welcome to Lazernet</h1>
    <h3><i>a portal into calebfergie's smart home</h3>
    <br>
    <h2> Temperature </h2>
    <h3>Most Recent Reading:</h3>
  <span><%= HueDataSensor1[HueDataSensor1.length-1].lastupdated %></span>:
  <!-- Output quote from the iterated quote object -->
  <span><%= HueDataSensor1[HueDataSensor1.length-1].TempF %></span>
  </body>
</html>
